// variables
@import "../variables";

main.createSection {
   padding: 80px 0 50px 0;
   form {
      box-shadow: 0px 0px 20px $WhiteT-bg-color-grey;
      border-radius: 30px;
      padding-bottom: 100px;
      // background: $paper;
      position: relative;
      h1 {
         text-align: center;
         background: $WhiteT-bg-color-black;
         color: $WhiteT-text-color-white;
         padding: 25px 0;
         font-size: 32px;
         font-family: $Nunito;
         font-weight: 600;
         border-top-right-radius: 30px;
         border-top-left-radius: 30px;
      }
      .form__body {
         padding: 2% 1.5%;
         text-align: center;
         input,
         textarea {
            display: block;
            margin: 15px 0;
            color: $WhiteT-text-color-black;
            padding: 10px 10px 10px 20px;
            font-size: 20px;
            border: 1px solid $paper;
            box-shadow: 0px 0px 5px $WhiteT-bg-color-black-grey;
            background: $WhiteT-bg-color-white-grey;
            border-radius: 10px;
            opacity: 0.8;
            font-family: $Nunito;
            transition: opacity 0.4s;
            &:focus {
               transition: opacity 0.4s;
               opacity: 1;
            }
         }
         .dedicated {
            position: relative;
            width: 100%;
            display: block;
            &:before,
            &:after {
               content: "";
               position: absolute;
               top: 50%;
               height: 1px;
               width: 10%;
               border-radius: 5px;
               transform: translate(0, -50%);
               background: $WhiteT-text-color-black;
            }
            &:before {
               left: 30%;
            }
            &:after {
               right: 30%;
            }
         }
         .name {
            display: flex;
            justify-content: center;
            align-items: center;
            input {
               width: 500px;
               height: 45px;
               transition: all 0.4s;
            }
         }
         span {
            display: block;
            font-family: $Nunito;
            font-weight: 500;
            font-size: 20px;
            position: relative;
            margin: 15px 0;
         }
         .question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 500px;
            margin: 0 auto;
            textarea {
               width: 450px;
               min-height: 45px;
               max-height: 500px;
               resize: none;
               height: auto;
               overflow-y: hidden;
            }
            button {
               border-radius: 5px;
               width: 45px;
               height: 45px;
               background: $WhiteT-bg-color-add;
               transition: all 0.4s;
               font-size: 24px;
               font-family: $Poppins;
               font-weight: 400;
               color: $WhiteT-text-color-white;
               &:hover {
                  background: $WhiteT-bg-color-add-hover;
                  transition: all 0.4s;
               }
            }
         }
         .question-list {
            max-width: 500px;
            margin: 0 auto;
            li {
               display: flex;
               justify-content: space-between;
               align-items: center;
               flex-wrap: wrap;
               textarea {
                  width: 400px;
                  resize: none;
                  min-height: 45px;
                  max-height: 500px;
                  margin: 5px 0;
               }
               .withoutEnterArrow {
                  width: 90%;
               }
               button {
                  height: 45px;
                  width: 45px;
                  transition: all 0.4s;
                  border-radius: 5px;
               }
               .minus {
                  background: $WhiteT-bg-color-remove;
                  font-size: 24px;
                  font-family: "Poppins", sans-serif;
                  font-weight: 400;
                  color: rgb(255, 255, 255);
                  &:hover {
                     background: $WhiteT-bg-color-remove-hover;
                     transition: all 0.4s;
                  }
               }
               .add {
                  width: 45px;
                  height: 45px;
                  background: $WhiteT-bg-color-add;
                  transition: all 0.4s;
                  &:hover {
                     background: $WhiteT-bg-color-add-hover;
                     transition: all 0.4s;
                  }
               }
               .answer {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  .corner {
                     width: 45px;
                     height: 45px;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     .corner-shape {
                        height: 20px;
                        width: 20px;
                        border-left: 2px solid $WhiteT-bg-color-grey;
                        border-bottom: 2px solid $WhiteT-bg-color-grey;
                        border-bottom-left-radius: 15px;
                     }
                  }
               }
            }
         }
         .save {
            position: absolute;
            box-shadow: 0px 0px 25px rgb(201, 195, 195);
            padding: 18px 30px;
            bottom: 35px;
            left: 50%;
            background: $WhiteT-bg-color-black;
            color: $WhiteT-text-color-white;
            border-radius: 50px;
            font-size: 24px;
            font-family: $Montserat;
            font-weight: 400;
            transform: translate(-50%, 0%);
         }
      }
   }
}
