// variables

@import "../variables/font-variables.scss";
@import "../variables/themes-variables.scss";

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;

  .highlighted {
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      height: 1px;
      width: 30%;
      border-radius: 5px;
      transform: translate(0, -50%);
      background: var(--bg-secondary-color);
    }

    &:before {
      left: -10%;
    }

    &:after {
      right: -10%;
    }
  }

  .form__part {
    display: flex;
    flex-direction: column;

    input[type="text"] {
      color: var(--text-primary-color);
      padding: 10px 10px 10px 20px;
      font-size: 20px;
      border: 1px solid var(--border-primary-color);
      box-shadow: 0 0 1px var(--boxshadow-secondary-color);
      background: var(--bg-primary-color);
      border-radius: 10px;
      opacity: 0.8;
      transition: opacity 0.4s;
      font-family: $Nunito;
      width: 550px;
      height: 45px;

      &:focus {
        transition: opacity 0.4s;
        opacity: 1;
      }
    }

    input[type="checkbox"] {
      opacity: 0;
      display: none;
      z-index: -1;

      &:checked:hover + label {
        background: var(--success-color);
      }

      &:checked + label {
        background: var(--success-color);
        border: 1px solid var(--success-color);

        &:hover {
          background: var(--success-hover-color);
          border: 1px solid var(--success-hover-color);
          transition: all 0.4s;
        }
      }

      &:checked + label::before {
        background-size: 13px 16px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('../../assets/img/check.png');
      }
    }

    label {
      cursor: pointer;
      transition: background .2s ease-in;
      position: relative;
      height: 45px;
      width: 45px;
      border-radius: 5px;
      border: 1px solid var(--border-primary-color);
      color: var(--text-accent-color);

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        height: 25px;
        transform: translate(-50%, -50%);
        content: ''
      }
    }
  }

  .add-question {
    display: flex;
    align-items: center;
    gap: 10px;

    textarea {
      width: 450px;
      min-height: 45px;
      max-height: 500px;
      resize: none;
      height: auto;
      overflow-y: hidden;
      color: var(--text-primary-color);
      padding: 10px 10px 10px 20px;
      font-size: 20px;
      border: 1px solid var(--border-primary-color);
      box-shadow: 0 0 2px var(--boxshadow-secondary-color);
      background: var(--bg-primary-color);
      border-radius: 10px;
      opacity: 0.8;
      font-family: $Nunito;
      transition: opacity 0.4s;

      &:focus {
        transition: opacity 0.4s;
        opacity: 1;
      }
    }

    button {
      border-radius: 5px;
      width: 45px;
      height: 45px;
      background: var(--success-color);
      transition: all 0.4s;
      font-size: 24px;
      font-family: $Poppins;
      font-weight: 400;
      color: #fff;

      &:hover {
        background: var(--success-hover-color);
        transition: all 0.4s;
      }
    }
  }
}
