// variables
@import "../variables";

body {
   &::-webkit-scrollbar {
      width: 7px;
      height: 100%;
      &:hover {
         cursor: pointer;
      }
   }
   &::-webkit-scrollbar-track {
      background: none;
   }
   &::-webkit-scrollbar-thumb {
      background: #696969;
      border-radius: 25px;
   }
   &::-webkit-scrollbar-thumb:hover {
      background: #555;
   }
}

.create-section {
   padding: 80px 0 0px 0;
   height: 80%;
   .create-section__body {
      border-radius: 30px;
      box-shadow: 0px 0px 20px $WhiteT-bg-color-grey;
      padding: 0px 0 30px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
         text-align: center;
         background: $WhiteT-bg-color-black;
         color: $WhiteT-text-color-white;
         padding: 25px 0;
         font-size: 32px;
         font-family: $Nunito;
         font-weight: 600;
         border-top-right-radius: 30px;
         border-top-left-radius: 30px;
         width: 100%;
      }
      span {
         text-align: center;
         margin: 30px 0;
         font-family: $Nunito;
         font-weight: 500;
         font-size: 20px;
      }
      ul {
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
         margin-top: 20px;
         li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            textarea {
               resize: none;
               height: 45px;
               width: 400px;
               overflow-y: hidden;
               font-family: $Nunito;
               font-size: 16px;
               background: $WhiteT-bg-color-white-grey;
               color: $WhiteT-text-color-black;
               padding: 10px 10px 10px 20px;
               border: 1px solid $paper;
               box-shadow: 0px 0px 5px $WhiteT-bg-color-black-grey;
               border-radius: 10px;
               opacity: 0.8;
               transition: opacity 0.4s;
               &:focus {
                  transition: opacity 0.4s;
                  opacity: 1;
               }
            }
            .question {
               display: flex;
               align-items: center;
               justify-content: center;
               gap: 10px;
               position: relative;
               textarea {
                  resize: none;
                  height: 45px;
                  width: 400px;
                  overflow-y: hidden;
                  font-family: $Nunito;
                  font-size: 16px;
                  background: $WhiteT-bg-color-white-grey;
                  color: $WhiteT-text-color-black;
                  padding: 10px 10px 10px 20px;
                  border: 1px solid $paper;
                  box-shadow: 0px 0px 5px $WhiteT-bg-color-black-grey;
                  border-radius: 10px;
                  opacity: 0.8;
                  transition: opacity 0.4s;
                  &:focus {
                     transition: opacity 0.4s;
                     opacity: 1;
                  }
               }
               textarea.w500 {
                  width: 450px;
               }
               .question__remove {
                  background: $WhiteT-bg-color-remove;
                  font-size: 24px;
                  font-family: "Poppins", sans-serif;
                  font-weight: 400;
                  width: 45px;
                  height: 45px;
                  border-radius: 5px;
                  color: rgb(255, 255, 255);
                  &:hover {
                     background: $WhiteT-bg-color-remove-hover;
                     transition: all 0.4s;
                  }
               }
               .question__add-answer {
                  width: 45px;
                  height: 45px;
                  background: $WhiteT-bg-color-add;
                  transition: all 0.4s;
                  border-radius: 5px;
                  &:hover {
                     background: $WhiteT-bg-color-add-hover;
                     transition: all 0.4s;
                  }
               }
            }
            .answer {
               display: flex;
               align-items: center;
               justify-content: space-between;
               width: 100%;
               margin-top: 10px;
               .corner {
                  width: 45px;
                  height: 45px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .corner-shape {
                     height: 20px;
                     width: 20px;
                     border-left: 2px solid $WhiteT-bg-color-grey;
                     border-bottom: 2px solid $WhiteT-bg-color-grey;
                     border-bottom-left-radius: 15px;
                  }
               }
               .answer__remove {
                  background: $WhiteT-bg-color-remove;
                  font-size: 24px;
                  font-family: "Poppins", sans-serif;
                  font-weight: 400;
                  width: 45px;
                  height: 45px;
                  border-radius: 5px;
                  color: rgb(255, 255, 255);
                  &:hover {
                     background: $WhiteT-bg-color-remove-hover;
                     transition: all 0.4s;
                  }
               }
            }
         }
      }
      .create-section__save-btn {
         box-shadow: 0px 0px 25px rgb(201, 195, 195);
         padding: 18px 30px;
         margin-top: 20px;
         background: $WhiteT-bg-color-black;
         color: $WhiteT-text-color-white;
         border-radius: 50px;
         font-size: 24px;
         font-family: $Montserat;
         font-weight: 400;
      }
   }
}
