// z-index

//  1 - for basical element
//  5 - for upper element
// 10 - for next level
// 50 - for modal  

// FONT

$Roboto: 'Roboto', sans-serif;

$Open: 'Open Sans', sans-serif;

$Poppins: 'Poppins', sans-serif;

$Montserat: 'Montserrat', sans-serif;

$Nunito: 'Nunito Sans', sans-serif;

// COLOR

$WhiteT-text-color-white: rgba(255, 255, 255, 1); // WhiteT - whiteTheme
$WhiteT-text-color-grey: #cacaca;
$WhiteT-text-color-black-grey: #a7a2a2;
$WhiteT-text-color-black: rgba(0, 0, 0, 1);

$WhiteT-box-shadow-grey: #cacaca;

$WhiteT-bg-color-grey: #cacaca;
$WhiteT-bg-color-white-grey: #e7e7e7;
$WhiteT-bg-color-white: #fff;
$WhiteT-bg-color-black-grey: #a7a2a2;
$WhiteT-bg-color-add: rgba(78, 153, 78, 0.685);
$WhiteT-bg-color-add-hover: rgba(66, 194, 66, 0.685);
$WhiteT-bg-color-remove: rgba(161, 15, 15, 0.685);
$WhiteT-bg-color-remove-hover: rgba(255, 0, 0, 0.685);
$WhiteT-bg-color-black: rgba(0, 0, 0, 1);

$paper: #f5edd6;