// Colors variables

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-white-grey: #f1f1f1;
  --color-grey: #dbdbdb;
  --color-black-grey: #b4b4b4;
  --color-black-green: #4E994EAE;
  --color-green: #42C242AE;
  --color-black-red: #A10F0FAE;
  --color-red: #FF0000AE;
  --color-white-orange: #f5edd6;
}

:root[data-theme='light'] {
  // Text
  --text-primary-color: var(--color-black);
  --text-secondary-color: var(--color-white);
  --text-accent-color: var(--color-grey);
  // Background
  --bg-primary-color: var(--color-white);
  --bg-secondary-color: var(--color-black);
  --bg-accent-color: var(--color-white-grey);
  // Border
  --border-primary-color: var(--color-grey);
  --border-secondary-color: var(--color-white-grey);
  // Box shadow
  --boxshadow-primary-color: var(--color-grey);
  --boxshadow-secondary-color: var(--color-black-grey);

  --error-color: var(--color-black-red);
  --error-hover-color: var(--color-red);
  --success-color: var(--color-black-green);
  --success-hover-color: var(--color-green);
}

:root[data-theme='dark'] {
  // Text
  --text-primary-color: var(--color-white);
  --text-secondary-color: var(--color-black);
  --text-accent-color: var(--color-grey);
  // Background
  --bg-primary-color: var(--color-black);
  --bg-secondary-color: var(--color-white);
  --bg-accent-color: var(--color-black-grey);
  // Border
  --border-primary-color: var(--color-black-grey);
  --border-secondary-color: var(--color-black-grey);
  // Box shadow
  --boxshadow-primary-color: var(--color-black-grey);
  --boxshadow-secondary-color: var(--color-white-grey);

  --error-color: var(--color-black-red);
  --error-hover-color: var(--color-red);
  --success-color: var(--color-black-green);
  --success-hover-color: var(--color-green);
}